/* the general body style */
body { 
    font-family: 'Arial, sans-serif';
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
}

/* welcome class Styles */
.welcome
{
    text-align: center;
}

/* the general header style */
header {
    background-color: #CBC3E3;
    padding: 20px;
    text-align: center;
}
/* the general h1 style */
header h1 {
    color: #53b760;
    font-size: 36px;
}
/* the general nav style */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s ease;
}

/* the nav hovering style */
nav ul li a:hover {
    color: #ff6699;
}

/* Main Content */
main {
    padding: 20px;
}

h2 {
    color: #53b760;
}

/* Gallery */
.gallery {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

/* the outer div style */
.big
{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;  /* Horizontally centers the div */
    align-items: center;      /* Vertically centers the div */
}

/* the inner div style */
.act
{
    border: 5px solid #5f677d;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 300px;
    text-align: center;
    display: inline-block;
}


.gallery img {
    width: 30%;
    height: auto;
}

/* Footer */
footer {
    background-color: #CBC3E3;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .gallery {
        flex-direction: column;
        align-items: center;
    }

    .gallery img {
        width: 80%;
        margin-bottom: 10px;
    }
}



/* Parent Resources Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #f2f2f2;
}

thead {
    background-color: #CBC3E3;
}

thead th {
    padding: 15px;
    text-align: left;
    font-weight: bold;
    color: #333;
}

tbody tr:nth-child(even) {
    background-color: #7ac57c;
}

tbody td {
    padding: 15px;
    border-bottom: 1px solid #0e0505;
    border-radius: 9px;
}

tbody tr:hover {
    background-color: #bcbab5;
}

th, td {
    text-align: left;
    padding: 10px;
}

.ClassActivities
{
    background-color: #CBC3E3;
    text-align: center;
} 
